body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #8a4242;
}

.layout {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 70px 1fr 50px;
    grid-template-areas: 
    "header header"
    "sidebar content"
    "sidebar footer";
    height: 100vh;
}
.header {
    grid-area: header;
    position: fixed;
    top: 0; left: 0; right: 0;
    height: 50px;
    background: #d87093;
    color: #fff;
    padding: 10px 30px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}